@{
    ViewBag.Title = "Quicken Holiday Party";
}

<div class="jumbotron">
    <h1>RSVP to the Quicken Holiday Party!</h1>
    <h3>Welcome to the RSVP Page for the Qucken Holiday Party! Please RSVP and if you would like to bring a dish please let us know!</h3>
    <p><a href="~/Home/Rsvp" class="btn btn-primary btn-lg">RSVP! &raquo;</a></p>
    <p><a href="~/Database/FindGuestDish" class="btn btn-primary btn-lg">Bring A Dish! &raquo;</a></p>
</div>