@model DevBuild_Assessment6_PutMeOnTheList.Models.Dish
@{
    ViewBag.Title = "ThankYouForDish";
}

<h2>Thank You For Your Dish</h2>
<p>@Model.PersonName</p>
<p> You will be bringing @Model.DishName: @Model.DishDescription</p>
<p>Options: @Model.Option</p>


