
@{
    ViewBag.Title = "FindGuestDish";
}

<h2>Enter Guest Name</h2>
<p>You must be registered as a guest to bring a dish</p>
@if(ViewBag.ErrorMessage != null)
{
    <p style="color:red">@ViewBag.ErrorMessage</p>
}
<form action="~/Database/FindGuestDish" method="post">
    First Name:<br />
    <input type="text" name="FirstName" /><br />
    Last Name:<br />
    <input type="text" name="LastName" /><br />

    <input id="submitNmae" type="submit" value="Find Guest" class="btn-default" />
</form>

